{% extends 'layout.html' %}

{% block body %}
  <h3>宿舍信息</h3>
  <table border="1" class="table table-striped">
    <tr>
      <th>学校名</th><td>{{dormitory.school_name}}</td>
    <tr>
    <tr>
      <th>宿舍楼号</th><td>{{dormitory.dormitory_number}}</td>
    <tr>
    <tr>
      <th>房间号</th><td>{{dormitory.room_number}}</td>
    <tr>
    <tr>
      {%for link in linkman%}
      <th>联系人</th><td>{{link.linkman_name}}</td>
      <tr>
      <th>联系人邮箱</th><td>{{link.linkman_email}}</td>
      </tr>
      {%endfor%}
    <tr>
    <tr>
      <th>余额</th><td>{{dormitory.banlance}}</td>
    <tr>
</table>
<form method="POST" action="">
<p><input name="num" type="text" value={{dormitory.banlance}}>
<input type="submit" class="btn btn-primary"  value="修改余额"></p>
</form>
{% endblock %}
